/*list song css*/

#listsong_main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 90fr;
    height: 90vh;
    /*The size must be hard set*/
}

#filtertab {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 4fr;
}

#filter_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%
}

#filter_boxes::before {
    content: "Filter";
    position: absolute;
    font-weight: bold;
    left: 5px;
    top: 5px;
}

.filter_box {
    margin: 0;
}

#filter_input {
    display: relative;
    display: flex;
    justify-content: center;
    padding: 2px;
}

#filter_input input {
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 15px 0 0 15px;
    transition: 0.5s;
    padding-left: 10px;
    width: 80%;
}

#filter_input input:focus {
    border-radius: 0
}

.searchButton {
    background-color: white;
    border: none;
    border-radius: 0 15px 15px 0;
}

.searchButton::after {
    content: "";
    background-image: url("../img/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    height: 20px;
    width: 20px;
    display: block;
    position: relative;
    right: 0px;
    bottom: 0px;
}

#listsong {
    /*display: flex;
	flex-direction: column;
	justify-content: flex-start;*/
    background-color: #e6f2f2;
    padding: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

.song {
    display: grid;
    grid-template-columns: 100px 3fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    height: 100px;
    margin: 3px;
}

.song:hover {
    background-color: white;
    cursor: pointer;
}

.play::after {
    content: "";
    background-image: url("../img/play.gif");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.song_img {
    /*background-image: url("../img/Nani.png");
	background-size: contain;
	background-repeat: no-repeat;*/
    height: 100px;
}

.song_info {
    max-width: 100%;
    padding: 3px;
}

.song_title {
    font-weight: bold;
    font-size: 1.5em;
}

.song_artist {
    font-style: italic;
}

.songPanel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start
}

.songPanel .deleteBtn, .songPanel .editBtn {
    padding: 3px;
    min-width: 50px;
    justify-content: center;
    text-align: center;
    margin: 5px;
    box-shadow: 0px 2px 6px lightgray;
    cursor: pointer;
    z-index: 5
}

.songPanel .deleteBtn:hover {
    background-color: rgba(109, 37, 37, 0.589);
}

.songPanel .editBtn:hover {
    background-color: rgba(177, 177, 61, 0.651);
}

.songPanel .deleteBtn:active, .songPanel .editBtn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
}

.songPanel .deleteBtn {
    background-color: rgba(211, 60, 60, 0.589);
}

.songPanel .editBtn {
    background-color: rgba(255, 255, 91, 0.651);
}

.play {
    border: solid 1px black;
}

#divAddSong, #divAddPlaylist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    /* background-color: red;
    border: solid black 2px; */
}

#divAddSong img, #divAddPlaylist img {
    height: 100%;
}

#divAddSong img:hover, #divAddPlaylist img:hover {
    cursor: pointer;
}

/*MODALE*/
#playlist_all{
    background-color: lightgray;
    height: 200px;
    width: 300px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;
}

#playlist_wrap, #playlist_songs {
    width: 120px;
    margin: 3px;
    background-color: white; 
}

#playlist_name{
    width: 100%
}