/* Here let's customize our carousel */

#carouselContainer {
    height: auto;
    margin: 0;
}

.filterItem {

    border: 1px solid black;

    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.filterItem:hover {
    opacity: 0.5;
}

.filterItem p {
    font-size: 180%;
    font-weight: bold;
    color: white;
    text-shadow: black 0px 0px 10px;
}

.carouselLine {
    display: flex!important;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    padding-top: 10px;
    padding-bottom: 10px;
}

.carouselArrowCont {
    display: flex;
    justify-content: center
}

.carouselArrow {
    cursor: pointer;
    width: 50px;
}

.carouselArrow:hover {
    opacity: 0.6
}

#carouselDots {
    position: absolute;
    left: 0;
    top: 50%
}

/* */

/* */

@media only screen and (max-width: 1200px) {
    .carouselLine img {
        width: 200px;
        height: 200px;
    }
}